* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100vw;
  max-width: 100%;
  background-color: #1A202C;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
nav .mobile-menu-icon {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  color: #B80000;
}
nav .menu {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
nav .menu a {
  text-decoration: none;
  font-weight: bold;
  outline: none;
  padding: 5px 20px;
  margin-right: 50px;
  background-color: #B80000;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
nav .menu a:hover {
  color: #B80000;
  background-color: #fff;
}

main {
  display: flex;
  height: 85vh;
}
main #main-left {
  color: white;
}
main #main-left h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
main #main-left #about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
main #main-left #about-me div {
  position: relative;
  width: 45%;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #242F3E;
  font-size: 20px;
  margin-bottom: 50px;
  height: fit-content;
}
main #main-left #about-me div img {
  border: 3px solid #B80000;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
main #main-left #about-me div p {
  width: 80%;
}
main #main-left #about-me div:nth-child(3) {
  width: 80%;
}
main #main-left a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  margin-right: 30px;
  background: #B80000;
}
main #main-left a:hover {
  text-decoration: underline;
}
main #background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url("images/banner4.jpg");
  background-size: cover;
}
main #background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 32, 44, 0.8);
  z-index: 1;
  backdrop-filter: blur(2px);
}

#mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #B80000;
  display: none;
  width: 100vw;
  height: 100%;
  z-index: 99;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  transition: 0.3s ease-in-out;
}
#mobile-menu .mobile-menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
}
#mobile-menu .mobile-menu-items {
  font-size: xx-large;
  width: 100vw;
  text-align: center;
  padding: 20px;
}
#mobile-menu .mobile-menu-items a {
  display: inline-block;
  color: white;
  padding: 15px 30px;
}

@media (max-width: 799px) {
  nav {
    height: 10vh;
    padding: 20px 0;
  }
  nav .mobile-menu-icon {
    display: block;
  }
  nav .menu {
    display: none;
  }
  main #main-left h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  main #main-left #about-me {
    position: relative;
    padding-bottom: 10px;
    gap: 15px;
  }
  main #main-left #about-me::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #1A202C;
    z-index: -1;
  }
  main #main-left #about-me div {
    width: 90%;
    padding: 10px;
    margin-bottom: 0;
  }
  main #main-left #about-me div p {
    font-size: 18px;
    width: 100%;
  }
  main #main-left #about-me div img {
    display: none;
  }
  main #main-left #about-me > div:nth-child(3) {
    width: 90%;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  nav {
    padding: 20px 0;
  }
  main #main-left h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  main #main-left #about-me {
    position: relative;
    padding-bottom: 10px;
    gap: 10px;
  }
  main #main-left #about-me::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #1A202C;
    z-index: -1;
  }
  main #main-left #about-me div {
    width: 80%;
    padding: 20px;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=about.css.map */
