$main-color: #1A202C;
$secondary-color: #B80000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgba($main-color, 0.9);
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

  .menu {
    height: 40px;
    display: flex;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      font-weight: bold;
      outline: none;
      padding: 5px 20px;
      margin-right: 50px;
      background-color: $secondary-color;
      color: #fff;
      border-radius: 5px;
      line-height: 30px;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $secondary-color;
        background-color: #fff;
      }
    }
  }
}


main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 85vh;

  #main-left {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    h1 {
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 30px;
    }

    p {
      font-size: 20px;
      margin-bottom: 50px;
    }

    a {
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      margin-right: 30px;
      background: $secondary-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }


  #main-right {
    text-align: center;

    img {
      width: 400px;
      border-radius: 50%;
    }
  }

  #background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;

    height: 100vh;
    background-image: url("images/banner4.jpg");
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($main-color, 0.8);
      z-index: 1;
      backdrop-filter: blur(2px);
    }
  }
}

#home-info {
  background-color: $main-color;
  padding-top: 100px;

  #prices {
    color: #fff;
    text-align: center;
    padding-bottom: 100px;

    h1 {
      margin-bottom: 20px;
    }

    #session-info {
      display: grid;
      grid-template-columns: 1fr 2fr;

      #availability {
        margin-top: 50px;
        padding-top: 20px;
        border-radius: 10px;
        background-color: #232c3c;

        h5 {
          color: #8D8B95;
        }

        #table {
          height: 80%;
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 20px;

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      #bundles {
        width: 70%;
        margin-top: 50px;
        margin-left: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        background-color: #232c3c;
        border-radius: 10px;

        .sessions {
          position: relative;
          width: 90%;
          background-color: $main-color;
          padding: 40px 20px;
          border-radius: 10px;
          display: flex;
          cursor: pointer;

          input {
            cursor: pointer;
            width: 100px;
          }

          .saved {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            background-color: #3C51C1;
            padding: 5px 10px;
            border-radius: 5px;
          }
        }

        a {
          width: 90%;
          background-color: $secondary-color;
          color: #fff;
          text-decoration: none;
          padding: 20px 30px;
          font-size: 20px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
;

  #reviews {
    padding-bottom: 50px;

    h1 {
      text-align: center;
      color: #fff;
    }

    #reviews-wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .swiper-wrapper {
      align-items: center;
    }

    .review {
      width: 25vw;
      height: 100%;
      padding: 25px 30px;
      display: flex;
      flex-direction: column;
      color: #fff;
      border: 3px solid #fff;
      border-radius: 10px;

      &:hover {
        border-color: $secondary-color;
      }

      .stars {
        display: flex;
        justify-content: center;
        color: $secondary-color;
        margin-bottom: 10px;
      }

      p {
        margin-top: 15px;
      }

      .review-user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        img {
          width: 50px;
        }
      }
    }

    .swiper-button-next {
      position: absolute;
    }
  }
}

footer {
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid #fff;


  .footer-icons {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;

    a {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid $secondary-color;
      transition: 0.3s ease-in-out;


      &:hover {
        background: $secondary-color;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: #fff;
      }
    }
  }

  p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 20px;
  }
}

// Utility classes

.active {
  background-color: $secondary-color !important;
}

.button {
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.scrolled {
  border-bottom: 4px solid $secondary-color;
}
